/* Add CSS Styling */
#odd {
font-family: 'Verdana','DejaVu Sans', 'sans-serif';
background-color: rgb(255, 182, 193);
}

.second {
    color: hsl(240, 100%, 50%);
    font-size: 36px;
}


.fourth {
    background-color: rgb(144, 238, 144);
    font-weight: bold;
}
.third, .fourth {
    font-size: 24px;
}