body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 20px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 20px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 20px 8px;
}

.button-container {
  background: #e3f4ff;
  display: block;
  padding: 20px;
  text-align: center;

}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px 20px;
}